extends layout
script(src='public/javascripts/index.js')
block content
  .jumbotron
    .container
      h1 How May I Help You?
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      a.btn.btn-primary.btn-lg(href='/about') Learn more &raquo;
  .container
    .row
      .col-md-12
        h2 Performance
        table(style='width:100%')
          tbody
            tr
              th(style='width:50%')
              th year-to-date
              th 1-yr
              th 3-yr
              th 5-yr
              th Since Inception
            tr
              td Thai Stock
              td 5%
              td 10%
              td 30%
              td 40%
            tr
              td Thai Derivatives
              td 5%
              td 10%
              td 30%
              td 40%
            tr
              td Inter
              td 5%
              td 10%
              td 30%
              td 40%
        a.btn.bth-default(href='#') More Detail
        p(align='right') As of Oct 2018
      .col-md-12
        h2 Portfolio
        p details of securities holding
        a.btn.bth-default(href='#') View Details
      .col-md-12
        h2 Contact Us
        p sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        a.btn.bth-default(href='#') View Details
      